p {
    text-align: center; color: gold;
}
#para1 {
    text-align: center; color: gold;
}
body {
    background: #941494;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}
h1 {
    color: black;
    text-align: center;
}

.about {
    color: #edc8ff;
}
.center {
    text-align: center;
    color: gold;
}
.contact {
    color: #edc8ff;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: #bf49bf; /* pick a color */
    border-radius: 25%;
}
.projects {
    color: #edc8ff;
    display: flex;
    flex-wrap: wrap; /* condensed to save space */
}
.skills {
    color: #edc8ff;
}

